<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Take It!</title>
    <link rel="icon" href=" /img/logo_has_color.png" type="image/x-icon">
    <link rel="stylesheet" href=" /css/base.css">
    <link rel="stylesheet" href=" /css/styles.css">
    <link rel="stylesheet" href=" /css/reset.css">
    <link rel="stylesheet" href=" /css/slider.css">
    <link rel="stylesheet" href=" /css/home.css">
    <link rel="stylesheet" href=" /css/buyTicket.css">
    <link rel="stylesheet" href=" /css/queries.css">
    <link rel="stylesheet" href=" /css/mobile.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6501cf2109.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="app">
        <!-- Header -->
        {{>header name=user.tenkhachhang}}


        <!-- Body -->
        <div id="body">
            <!-- Slider -->
            <div class="body__slideshow-container">
                <!-- <div class="body__slideshow">
                    <div class="body__slideshow-background">
                        <img loading="lazy" class="body__slideshow-background--img" src=" /img/home_1.png" alt="">
                    </div>
                    <div class="body__slideshow-logo">
                        <img loading="lazy" src=" /img/logo_not_color.png" alt="">
                    </div>
                </div> -->

                <!-- Carousel -->
                <div id="demo" class="carousel slide" data-bs-ride="carousel">

                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                    </div>

                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src=" /img/home_1.png" alt="Los Angeles" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src=" /img/home_2.png" alt="Chicago" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src=" /img/home_3.png" alt="New York" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src=" /img/home_4.png" alt="New York" class="d-block w-100">
                        </div>
                        <div class="body__slideshow-logo">
                            <img loading="lazy" src=" /img/logo_not_color.png" alt="">
                        </div>
                    </div>

                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>

            <!-- Search Ticket -->
            <div class="search__ticket">
                <form method="GET" action="/bus" class="container">
                    <h5 class="search__ticket-header">Search Ticket</h5>
                    <div class="search__ticket-choose-wrap">

                        <div class="search__ticket-choose-direction">
                            <div class="search__ticket-wrap-item">
                                <img src=" /img/mini_icon_location.png" alt="" class="search__ticket-choose-img">
                                <select name="tinhbatdau" class="search__ticket-choose" id="tinhbatdau">

                                    <option value="">Your location</option>
                                    {{#each tinhthanh}}
                                    <option value="{{matinh}}">{{tentinh}}</option>
                                    {{/each}}

                                </select>
                            </div>
                            <img src=" /img/mini_icon_direction.png" alt="">
                            <div class="search__ticket-wrap-item">
                                <img src=" /img/mini_icon_destination.png" alt="" class="search__ticket-choose-img">
                                <select name="tinhketthuc" class="search__ticket-choose" id="tinhketthuc">
                                    <option value="">Your destination</option>

                                    {{#each tinhthanh}}
                                    <option value="{{matinh}}">{{tentinh}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="search__ticket-wrap-item">
                            <img src=" /img/mini_icon_date.png" alt="" class="search__ticket-choose-img">
                            <input type="date" id="date" name="date" class="search__ticket-choose">

                            </input>
                        </div>
                    </div>
                    <div class="search__ticket-submit">
                        <button type="submit" class="btn-base btn-search__ticket">
                            Search
                        </button>

                    </div>
                </form>
            </div>

            <!-- Home -->

            <div class="home">
                <div class="container">
                    <h4 class="home__popular-heading">Popular bus routes</h4>
                    <div class="home__popular">
                        <ul class="home__popular-list">
                            {{#each tuyenduongtop}}
                            <li class="home__popular-item">
                                <a href="/bus?tinhbatdau={{tinhbatdau}}&tinhketthuc={{tinhketthuc}}">
                                    <div class="home__popular-item--img">
                                        <img src="{{hinhanh}}" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>{{ten}}</p>
                                        <span>Từ {{formatMoney giachitu}} đ</span>
                                    </div>
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <h4 class="home__popular-heading">About</h4>
                    <div class="home__about">

                        <ul class="home__about-list">
                            <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src=" /img/about1.png" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>HOT DEALS</p>
                                        <span>Đặt vé tại Ticket - Take it để được hưởng cái quyền lợi tại phòng chờ của
                                            nhà xe.</span>

                                    </div>
                                </a>
                            </li>
                            <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src=" /img/about2.png" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>DEAL HOT BẤT NGỜ</p>
                                        <span>Nhập mã TICKETTAKEIT được giảm đến 50k khi đặt vé online trên trang Ticket
                                            - Take it.</span>

                                    </div>
                                </a>
                            </li>
                            <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src=" /img/about3.jpg" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>GIỚI THIỆU BẠN BÈ</p>
                                        <span>Giới thiệu bạn bè cùng mua vé tại Ticket-Take it để được giảm 30k.</span>
                                    </div>
                                </a>
                            </li>
                            <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src=" /img/about4.png" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>THANH TOÁN MOMO</p>
                                        <span>Giảm ngay 30k khi nhập mã VXR30 khi thanh toán bằng Momo.</span>

                                    </div>
                                </a>
                            </li>
                            </li>
                            <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src=" /img/about5.png" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>MỞ THỂ SACCMBANK</p>
                                        <span>Khi mở thẻ Sacombank nhận mã giảm 150k khi mua vé xe trên Ticket-Take
                                            it.</span>

                                    </div>
                                </a>
                            </li>
                            <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src=" /img/about2.png" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>BẬT MÍ BÍ MẬT</p>
                                        <span>Giảm 30k cho mỗi vé xe khi mua từ 5 vé xe trên trang Ticket - Take
                                            it.</span>

                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




            <!-- Footer -->
            {{>footer}}
        </div>





        {{!--
        <script src=" /js/rangeSlider.js"></script> --}}
        <script src=" /js/activeHeading.js"></script>

        <script src=" /js/slider.js"></script>
        <script src=" /js/searchTicket.js"></script>


        <script src="/js/auth/user.js"></script>
</body>

</html>