<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TT Admin - Xóa chuyến xe</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {{>sidebar}}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {{>topbar}}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="group d-flex flex-row d-flex justify-content-between">
                        <h1 class="h3 mb-2 text-gray-800">Xóa chuyến xe</h1>
                        <div class="group-button">
                            <button type="submit" form="removeRouteForm" class="save-btn btn-danger px-4 mb-2 mr-2">Xóa</button>
                            <a href="/admin" class="save-btn btn-info px-4 mb-2">Trở về</a>
                        </div>
                    </div>

                    <p class="mb-4">Vui lòng nhập thông tin chuyến xe.</p>
                    <!-- Content Row -->
                    <div class="row">
                        <!-- Area Chart -->
                        <div class="card shadow mb-4 w-100">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Thông tin chuyến xe</h6>
                            </div>
                            <div class="card-body">
                                <form id="removeRouteForm" method="POST" action="/admin/GRUD/removeRoute?_method=DELETE"
                                    class="garage-info">
                                    <div class="garage-info__group">
                                        <label for="name" class="py-2 text-dark">Mã chuyến xe<code
                                                style="color: red; font-weight: 700;">*</code></label>
                                        <select name="machuyenxe" id="" style="margin-left:50px;">
                                            {{#each chuyenxe}}
                                            <option value="{{machuyenxe}}"
                                                onclick="showdetail('{{manhaxe}}','{{formatTimeAdmin tgkhoihanh}}','{{formatTimeAdmin tgketthuc}}',
                                            '{{diachibatdau}}','{{diachiketthuc}}','{{hinhanhxe}}','{{maloaixe}}','{{mota}}','{{giavenhonhat}}')">
                                                {{machuyenxe}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="name" class="py-2 text-dark">Nhà xe<code
                                                style="color: red; font-weight: 700;">*</code></label>
                                        <select disabled name="manhaxe" id="nhaxe" style="margin-left:97px;">
                                            {{#each nhaxe}}
                                            <option value="{{manhaxe}}">{{tennhaxe}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="name" class="py-2 text-dark">Điểm khởi hành<code
                                                style="color: red; font-weight: 700;">*</code></label>
                                        <select disabled name="diachibatdau" id="diemkhoihanh" style="margin-left:37px;">
                                            {{#each diachi}}
                                            <option value="{{madiachi}}">{{tendiachi}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="name" class="py-2 text-dark">Điểm kết thúc<code
                                                style="color: red; font-weight: 700;">*</code></label>
                                        <select disabled name="diachiketthuc" id="diemketthuc" style="margin-left:47px;">
                                            {{#each diachi}}
                                            <option value="{{madiachi}}">{{tendiachi}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="startTime" class="py-2 text-dark">Thời gian khởi hành<code
                                                style="color: red; font-weight: 700;">*</code></label>
                                        <input  type="datetime-local" class="garage-info__input w-50 ml-2"
                                            id="tgkhoihanh" name="startTime" readonly>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="endTime" class="py-2 text-dark">Thời gian kết thúc<code
                                                style="color: red; font-weight: 700;">*</code></label>
                                        <input type="datetime-local" class="garage-info__input w-50"
                                            style="margin-left: 19px;" id="tgketthuc" name="endTime" readonly>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="img" class="py-2 text-dark">Hình ảnh<code
                                                style="color: red; font-weight: 700;">*</code></label>
                                        <input type="file" class="garage-info__input w-50" style="margin-left:81px;"
                                            id="img" name="img" accept="image/*">
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="name" class="py-2 text-dark">Loại xe<code
                                                style="color: red; font-weight: 700;">*</code></label>
                                        <select disabled name="maloaixe" id="loaixe" style="margin-left:95px;">
                                            {{#each loaixe}}
                                            <option value="{{maloaixe}}">{{tenloaixe}}</option>
                                            {{/each}}
                                        </select>
                                    </div>

                                    <div class="garage-info__group">
                                        <label for="description" class="py-2 text-dark">Mô tả<code
                                                style="color: red; font-weight: 700;">*</code></label>
                                        <input type="text" class="garage-info__input w-50" style="margin-left:105px;"
                                            placeholder="" id="mota" name="description" readonly>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="price" class="py-2 text-dark">Giá vé nhỏ nhất<code
                                                style="color: red; font-weight: 700;">*</code></label>
                                        <input type="text" class="garage-info__input w-50" style="margin-left:35px;"
                                            placeholder="" name="price" id="giave" readonly>
                                    </div>
                                    <hr>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        {{>logoutmodal}}

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <script>
            function showdetail(manhaxe, tgkhoihanh, tgketthuc,
                diachibatdau, diachiketthuc, hinhanh, maloaixe, mota, giavenhonhat) {
                const nhaxe = document.querySelector(`#nhaxe > option[value="${manhaxe}"]`)
                nhaxe.setAttribute('selected', true)
                const diemkhoihanh = document.querySelector(`#diemkhoihanh > option[value="${diachibatdau}"]`)
                diemkhoihanh.setAttribute('selected', true)
                const diemketthuc = document.querySelector(`#diemketthuc > option[value="${diachiketthuc}"]`)
                diemketthuc.setAttribute('selected', true)

                document.querySelector('#tgkhoihanh').value = tgkhoihanh
                document.querySelector('#tgketthuc').value = tgketthuc
                document.querySelector(`#loaixe > option[value="${maloaixe}"]`).setAttribute('selected', true)
                document.querySelector('#giave').value = giavenhonhat
                document.querySelector('#mota').value = mota


            }

        </script>

         <script src="/js/auth/admin.js"></script>
</body>

</html>