<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TT Admin - Cập nhật đặt chỗ</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {{>sidebar}}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               {{>topbar}}

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="group d-flex flex-row d-flex justify-content-between">
                        <h1 class="h3 mb-2 text-gray-800">Cập nhật đặt chỗ</h1>
                        <div class="group-button">
                            <button type="submit" form="updateSeatForm" class="save-btn btn-primary px-4 mb-2 mr-2">Cập nhật</button>
                            <a class="save-btn btn-info px-4 mb-2">Trở về</a>
                        </div>
                    </div>

                    <p class="mb-4">Vui lòng nhập thông tin đặt chỗ.</p>
                    <!-- Content Row -->
                    <div class="row">
                        <!-- Area Chart -->
                        <div class="card shadow mb-4 w-100">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Thông tin đặt chỗ</h6>
                            </div>
                            <div class="card-body">
                                <form id="updateSeatForm" method="POST" action="/admin/GRUD/updateSeat?_method=PUT" class="seat-info">
                                    <div class="seat-info__group">
                                        <label for="name" class="py-2 text-dark">Mã vé<code style="color: red; font-weight: 700;">*</code></label>
                                        <select name="mave" id="" style="margin-left:95px;">
                                            {{#each vexe}}
                                                <option value="{{mave}}" onclick="showdetail('{{machuyenxe}}','{{tenkhachhang}}','{{email}}','{{sodienthoai}}',
                                                '{{tongtien}}','{{tinhtrang}}' )" >{{mave}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                     <div class="garage-info__group">
                                        <label for="name" class="py-2 text-dark">Mã chuyến xe<code style="color: red; font-weight: 700;">*</code></label>
                                        <select name="machuyenxe" id="chuyenxe" style="margin-left:40px;">
                                            {{#each chuyenxe}}
                                                <option value="{{machuyenxe}}">{{machuyenxe}} </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="seat-info__group">
                                        <label for="numberseat" class="py-2 text-dark">Ghê đặt:</label>
                                        <span style="margin-left:50px;" >{{slots}}</span>
                                       
                                    </div>
                                    <br>
                                    <h7>Thông tin liên lạc</h7>
                                    <div class="seat-info__group px-3">
                                        <br>
                                        <label for="name" class="py-2 text-dark">Họ và tên</label>
                                        <input type="text" class="seat-info__input w-25" style="margin-left:32px;" placeholder="" name="name" id="name" required>
                                    </div>
                                    <div class="seat-info__group px-3">
                                        <label for="email" class="py-2 text-dark">Email</label>
                                        <input type="email" class="seat-info__input w-25" style="margin-left:62px;" placeholder="" name="email" id="email" required>
                                    </div>
                                    <div class="seat-info__group px-3">
                                        <label for="phone" class="py-2 text-dark">Số điện thoại</label>
                                        <input type="tel" class="seat-info__input w-25" style="margin-left:10px;" placeholder="" name="phone" id="phone" required>
                                    </div>
                                    <br>
                                    <div class="seat-info__group">
                                        <label for="pay" class="py-2 text-dark">Tổng tiền</label>
                                        <input type="tel" class="seat-info__input w-25" style="margin-left:36px;" placeholder="" name="pay" id="pay" >
                                    </div>
                                    <div class="seat-info__group">
                                        <label for="condition" class="py-2 text-dark">Tình trạng</label>
                                        <input type="tel" class="seat-info__input w-25" style="margin-left:32px;" placeholder="" name="condition" id="condition" >
                                    </div>
                                    <hr>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
       {{>logoutmodal}}

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <script>
            function showdetail(machuyenxe,tenkhachhang,email,sodienthoai,tongtien,tinhtrang){
                document.querySelector(`#chuyenxe > option[value="${machuyenxe}"]`).setAttribute('selected',true)
                document.querySelector('#name').value = tenkhachhang
                document.querySelector('#email').value = email
                document.querySelector('#phone').value = sodienthoai
                document.querySelector('#pay').value = tongtien
                document.querySelector('#condition').value = tinhtrang

            }



        </script>

         <script src="/js/auth/admin.js"></script>

</body>

</html>